<header
  class="fixed top-0 right-0 hidden md:flex items-center justify-between h-16 ml-[280px] w-[calc(100%-280px)] px-10 border-b border-gray-200 bg-white z-40"
>
  <h2 class="text-xl font-semibold text-black">HP Invest - Dashboard</h2>

  <div class="flex items-center gap-4">
    <button class="p-2 rounded-full hover:bg-gray-100">
      <span class="material-symbols-outlined"> notifications </span>
    </button>

    <button class="p-2 rounded-full hover:bg-gray-100">
      <span class="material-symbols-outlined"> settings </span>
    </button>
  </div>
</header>
