apiVersion: v1
kind: Secret
metadata:
  name: opensearch-secret
  namespace: datathon
type: Opaque
stringData:
  # Must be >= 8 chars, contain upper, lower, digit, and special char
  OPENSEARCH_USER: "admin"
  OPENSEARCH_INITIAL_ADMIN_PASSWORD: "YourStrong@Pass2024!"
